*{
  outline: 0;
}
.login-cont{
  background-color: #f0f0f0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .logo{
    margin-bottom: 15px;
  }
  .form{
    background-color: #fff;
    padding: 25px 25px;
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16); */
    border-radius: 4px;
    border: 1px solid #e2e4e7;
    width: 440px;
    box-shadow: 0 6px 9px -5px rgba(0, 0, 0, 0.32);
    .logo{
      margin-bottom: 7px;
      img{
        width:150px;
      }
    }
    .head{
      margin-bottom: 10px;
      h4,h6{
        margin:0;
        padding:0;
        color: #494949;
        font-weight: 400;
      }
      h4{
        font-weight: 600;
      }
    }
    .ctrl{
      .irow{
        margin-bottom: 10px;
        &:last-child{
          margin-bottom: 0;
        }
        .ival{
          position: relative;
          input[type="text"],input[type="password"]{
            border-radius: 4px;
            border: 1px solid #d6d6d6;
            border: 0;
            font-size: 17px;
            letter-spacing: -.022em;
            padding: 3px 15px;
            width: 100%;
            background-color: #e2e1df;
          }
          input[type="text"]:focus, input[type="password"]:focus{
            //border-color: #037ef3;
            outline: 0;
            box-shadow: 0 0 0 3px rgba(131,192,253,.5);
          }
          .error{
            position: absolute;
            right: 8px;
            top: 4px;
            width: 21px;
            height: 21px;
            background-color: #E91E63;
            color: #fff;
            text-align: center;
            font-weight: 600;
            border-radius: 50%;
            padding: 0px;
            display: none;
            font-size: 14px;
            &.show{
              display: block;
            }
          }
        }
        .submit-ok{
          display: block;
          background-color: #037ef3;
          color: #fff;
          text-align: center;
          padding: 4px 15px;
          font-size: 17px;
          border: 1px solid rgba(0, 0, 0, 0.07);
          /* border-bottom: 3px solid rgba(0, 0, 0, 0.22); */
          border: 0;
          border: 1px solid #07c;
          cursor: pointer;
          transition: all 0.2s ease-out;
          border-radius: 4px;
          float: right;
          width: 100%;
          letter-spacing: -.022em;
          //background: -webkit-linear-gradient(top, rgba(101,175,232,1) 0%,rgba(49,113,193,1) 100%);
          &:hover{
            background-color: #0081fc;
          }
        }
      }
    }
  }
}
